# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
# import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 3. Name of the max valued product

In [7]:
chipo['item_price'].max()

'$9.39 '

In [9]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$9.39
1418,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
1865,756,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
3098,1235,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
3356,1346,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39

In [11]:
float('$9.39 '.replace("$", ""))

9.39

In [18]:
chipo["item_price"] = chipo['item_price'].str.replace("$", "").astype(float)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

C:\Users\Miguel Angel\AppData\Local\Temp\ipykernel_18136\1290577441.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo["item_price"] = chipo['item_price'].str.replace("$", "").astype(float)

In [19]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [20]:
chipo['item_price'].max()

44.25

In [21]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [22]:
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [32]:
chipo_filtrado = chipo[chipo['unit_price'] == chipo['unit_price'].max()]
chipo_filtrado['item_name'].unique()

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

### Step 4. How many products cost more than $10.00?

In [39]:
chipo[chipo['unit_price'] > 10]['item_name'].nunique()

25

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [43]:
chipo[chipo['unit_price'] > 10]['order_id'].nunique()

787

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [49]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [46]:
orders_sum = chipo.groupby("order_id")['item_price'].sum()
orders_sum

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [51]:
len(orders_sum[orders_sum > 10])

1834

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [64]:
chipo[chipo['item_price'] > 10]['order_id'].nunique()

863

In [59]:
# chipo[(chipo['unit_price'] < 10) & (chipo['item_price'] > 10)]['order_id'].nunique()

82

In [65]:
# chipo[chipo['item_name'] == "Chicken Salad Bowl"]

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [66]:
chipo['unit_price']

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: unit_price, Length: 4622, dtype: float64

In [68]:
chipo.loc[:,['item_name', 'unit_price']].drop_duplicates()

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4237                    Chips and Guacamole        4.25
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [75]:
chipo.sort_values(by=["item_name", "choice_description"], ascending=[True, False])

,order_id,quantity,item_name,choice_description,item_price,unit_price
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1279,520,1,6 Pack Soft Drink,[Sprite],6.49,6.49
2374,945,1,6 Pack Soft Drink,[Sprite],6.49,6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49,6.49
...,...,...,...,...,...,...
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [83]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]['quantity'].sum()

30

In [94]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()].groupby('item_name')['quantity'].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

In [100]:
len(chipo[chipo['item_name'].isin(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'])])

45

In [87]:
# chipo[chipo['item_price'] == chipo['item_price'].max()]

In [106]:
chipo.groupby('item_name')['unit_price'].min() # Precios productos sin extras

item_name
6 Pack Soft Drink                        6.49
Barbacoa Bowl                            8.69
Barbacoa Burrito                         8.69
Barbacoa Crispy Tacos                    8.99
Barbacoa Salad Bowl                      9.39
Barbacoa Soft Tacos                      8.99
Bottled Water                            1.09
Bowl                                     7.40
Burrito                                  7.40
Canned Soda                              1.09
Canned Soft Drink                        1.25
Carnitas Bowl                            8.99
Carnitas Burrito                         8.69
Carnitas Crispy Tacos                    8.99
Carnitas Salad                           8.99
Carnitas Salad Bowl                      9.39
Carnitas Soft Tacos                      8.99
Chicken Bowl                             8.19
Chicken Burrito                          8.19
Chicken Crispy Tacos                     8.49
Chicken Salad                            8.19
Chicken Salad Bowl                       8.75
Chicken Soft Tacos                       8.49
Chips                                    1.99
Chips and Fresh Tomato Salsa             2.29
Chips and Guacamole                      3.89
Chips and Mild Fresh Tomato Salsa        3.00
Chips and Roasted Chili Corn Salsa       2.95
Chips and Roasted Chili-Corn Salsa       2.39
Chips and Tomatillo Green Chili Salsa    2.95
Chips and Tomatillo Red Chili Salsa      2.95
Chips and Tomatillo-Green Chili Salsa    2.39
Chips and Tomatillo-Red Chili Salsa      2.39
Crispy Tacos                             7.40
Izze                                     3.39
Nantucket Nectar                         3.39
Salad                                    7.40
Side of Chips                            1.69
Steak Bowl                               8.69
Steak Burrito                            8.69
Steak Crispy Tacos                       8.69
Steak Salad                              8.69
Steak Salad Bowl                         9.39
Steak Soft Tacos                         8.99
Veggie Bowl                              8.49
Veggie Burrito                           8.49
Veggie Crispy Tacos                      8.49
Veggie Salad                             8.49
Veggie Salad Bowl                        8.75
Veggie Soft Tacos                        8.49
Name: unit_price, dtype: float64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [119]:
# chipo[chipo['item_name'].str.contains("Veggie Salad")]

In [123]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['quantity'].sum() # cantidades

18

In [125]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['order_id'].nunique() # pedidos

18

In [122]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"].groupby(['item_name','unit_price'])['quantity'].sum()

item_name          unit_price
Veggie Salad Bowl  8.75           8
                   11.25         10
Name: quantity, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [144]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'].nunique() # pedidos

18

In [138]:
chipo[chipo['order_id'] == 108]

,order_id,quantity,item_name,choice_description,item_price,unit_price
245,108,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.99,8.99
246,108,1,Canned Soda,[Mountain Dew],1.09,1.09
247,108,1,Canned Soda,[Dr. Pepper],1.09,1.09
248,108,1,Canned Soda,[Mountain Dew],1.09,1.09
249,108,1,Barbacoa Burrito,"[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomat...",8.99,8.99

In [141]:
pedidos_refrescos = chipo[(chipo['item_name'] == "Canned Soda")].groupby('order_id')['quantity'].sum()
pedidos_refrescos

order_id
9       2
14      1
23      2
24      1
47      1
       ..
1562    1
1575    1
1578    1
1604    1
1621    1
Name: quantity, Length: 94, dtype: int64

In [143]:
len(pedidos_refrescos[pedidos_refrescos > 1])

24